* {
    text-align: center;
}

.daysHeader {
    text-align: left;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    height: 35px;
    font-size: 25px;
    background-color: rgb(183, 219, 255);
    border: 2px solid black;
}

.container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;

}

.container:hover {
    cursor: default;
}

.time, .subject, .classRoom {
    text-align: center;
}

.time {
    margin-left: 10px;
    font-size: 21px;
}
.time:hover {
    color: red;
}

.subject {
    font-size: 21px;
}

.classRoom {
    font-size: 21px;
    margin-right: 10px;
}

.days {
    font-size: 16px;
    margin: 5px;
    margin-top: 25px;
    width: 90%;
    height: auto;
}

.day {
    display: inline-block;
    height: auto;
    width: 45%;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 18px;
}

.classSelect {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #ffffff;
    border: none;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    padding: 10px;
    width: 200px;
    color: #333;
}
.classSelect option {
    background-color: #f2f2f2;
    color: #333;
}